/* Example CSS for NavBar */
.nav-bar {
    background-color: #f3eded;
    height: 60px;
    display: flex;
    align-items: center; /* Center items vertically */
    border-bottom: 1.5px solid;
}

.nav-bar .links li {
    display: inline-block;
    margin-right: 10px;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-home-nav, .link-plants-nav, .link-soils-nav {
    /*cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='100' viewport='0 0 100 100' style='fill:black;font-size:35px;'><text y='50%'>🪴</text></svg>")*/
    /*16 0,*/
    /*auto;*/
    margin-left: 20px;
    color: black;
    font-family: "Arial", serif;
    text-decoration: none;
    padding: 8px 12px;
}

.link-home-nav:hover, .link-plants-nav:hover, .link-soils-nav:hover {
    background-color: rgba(39, 100, 2, 0.53);; /* Darker background on hover */
    border-radius: 4px;
}
