{% extends "base.html" %}
{% load static %}
{% block title %}Browse and Journal Plants{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Plants</title>
    <link rel="stylesheet" href="{% static 'home_styles.css' %}">
</head>
<section class='home'>
    <section className="home-container">
        <h1 className="home-title">Welcome to Plant Care!</h1>
        <section className='home-content'>
            <p className="home-about">
                Welcome to Plant care! Here is a site in which you can browse our digital collection of plants!
                Read all about their origins, their care, and benefits! Add them to your collection and even
                journal
                about them and take note of their growth, issues, and ways in which you helped that plant turn
                into
                its most beautiful self!
            </p>

            <section class="links">
                <section class='plant-card-link'>
                    <Link to='/plants' className='link-plant-card' style='text-decoration: none;'>

                        <h2 class='plant-card-name'>Plants</h2>
                    </Link>
                </section>
                <div class='soils-card-link'>
                    <Link to='/soils' class='link-soils-card' style='text-decoration: none;'>

                        <h2 class='soil-card-name'>Soils</h2>
                    </Link>
                </div>
            </section>
        </section>
    </section>
</section>
{% endblock %}
