/* Home.css */
.home-container {
    padding: 20px;
    margin: 20px;

}

.home-title {
    text-align: center; /* Center align the text */
    font-size: 50px;
    margin-bottom: 10px;
}
.home-content {
    border: 1.5px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
