body {
    background-color: rgb(223, 242, 239);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header input . signup"
    "link link link link"
    "image  image aside aside"
    "footer footer footer footer";
    margin-left: 15px;    
}

body header{ 
    display: inline-block;
    grid-area: header;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 154, 208);

}

body input{ 
    grid-area: input;
    width: 200px;
    height: 30px;
}

body nav ul li{
    grid-area: link;
    display: inline-block;
    list-style: none;
}
#signup{ 
    grid-area: signup;
}
#band-image{ 
    grid-area: image
}

body aside{
    grid-area: aside;
}

body footer{
    grid-area: footer;
}

body footer nav a{
    list-style: none;
    display: inline-block;
}