body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "button button button"
    "body body body"
    "footer footer footer";
    margin: 0;
}

body header{
    grid-area: header;
    align-items: center;
    color: rgb(8, 153, 190);
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: "header input signup";
    
    width: 100%;

}

body header h1 {
    /* border: 2px solid violet; */
    text-transform: lowercase;
    color: black;
    display: grid;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body header input {
    /* border: 2px solid blue; */
    display: grid;
    grid-area: input;
    height: 30px;
    width: 250px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.728);

}

#buttons{
    grid-area: button;
}

#quote{
    grid-area: body;
}