body {
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 242, 239);
    margin-top: 0;
}

body > header{
    display: flex;
    justify-content: space-between;
}

body > header> h1 {
    display: flex;
    align-items: center; /* Center vertically */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 153, 190);
    padding-bottom: 5px;
    padding-left: 15px;
    margin-bottom: 0;
}

body > header > h1 > input {
    /* display: inline-block; */
    border-style: none;
    padding: 10px;
    margin-left: 5px;
    background-color: rgb(212, 219, 213);
    line-height: 20px;
    height: 10px;
    width: 200px;
}
body > header > li {
   list-style: none;
}

body > header > li > a{
    float: right;
    color: rgb(8, 153, 190);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    padding: 9px;
}
body > header > li > a:hover {
    text-decoration: underline;
}

body> header> h1> input::placeholder {
    vertical-align: middle;
}

body > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}


body > li{
    list-style: none;
}

body > li > a {
    display: inline-block;
    text-decoration: none; 
    border-right: 1px solid rgb(8, 153, 190);
    line-height: 1px;
    /* padding-bottom: 20px; */
    padding-top: 0;
    padding-right: 15px;
    padding-left: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(8, 153, 190);
}


body > li > a:hover {
    text-decoration: underline;
}
header h1{
    display: flex;
    align-items: center; /* Center vertically */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 153, 190);
    padding-bottom: 5px;
    padding-left: 15px;
    margin-bottom: 0;
}
body > li > a:nth-child(5) {
   float:right;
   border-right: none;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body > li > a:nth-child(5):hover{
    text-decoration: underline;
}



