/* Home.css */
.home {
    background-color: #f3eded;
}

.home-container {
    padding: 20px;
}

.home-title {
    text-align: center; /* Center align the text */
    font-size: 60px;

}

.home-about {
    background-color: white;
    padding: 10px;
    border: 1.5px solid;
    border-radius: 8px;
}

/*.home-content {*/
/*    background-color: white;*/

/*    padding: 20px;*/
/*    margin: 20px;*/

/*    font-size: 16px;*/
/*    line-height: 1.6;*/
/*    color: #333;*/
/*}*/

.links {
    display: flex;
    flex-wrap: wrap;
}

.plant-card-link, .soils-card-link {
    background-color: white;
    justify-self: end;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            'img img img'
            'img img img'
            'img img img'
            '. link . ';
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 350px;
    height: 500px; /* Set a fixed width for each plant card */

}
.plant-card-link:hover{
    cursor: pointer;
    box-shadow: 10px 10px 1px rgba(39, 100, 2, 0.53);
}

.link-plant-card, .link-soils-card {
    font-weight: bold;
    font-size: 35px;
    color: #000;
    margin: 0;
    text-align: center;
    grid-area: link;
}



.plant-card-nane, .soils-card-name {
    justify-self: center;

}
