/* Plants.css */
.plants-page{
    background-color: #f3eded;
    /*background-color: black;*/
    padding-bottom: 20px;

}
.page-title{
    font-size: 60px;
    text-align: center;

}
.plants-cards {
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Adjust the gap between plant cards */
    padding: 10px; /* Add padding to the container */
}

.plant-card {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 80px;
    grid-template-areas:
            'img img img'
            'img img img'
            'img img img'
            'name name name';
    border: 1.5px solid black;
    border-radius: 5px;
    /*padding: 10px;*/
    width: 350px;
    height: 500px;/* Set a fixed width for each plant card */

}

.plant-card:hover{
    /*cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='100' viewport='0 0 100 100' style='fill:black;font-size:35px;'><text y='50%'>🪴</text></svg>")*/
    /*16 0,*/
    /*auto;*/
    cursor: pointer;
    /*box-shadow: 10px 10px 1px rgba(39, 100, 2, 0.53);*/
    /*box-shadow: 10px 10px 1px black;*/
    box-shadow: 10px 10px 1px black;
}
.plant-image{
    color: black;
    grid-area: img;
    border-bottom: 1.5px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(39, 100, 2, 0.53);
}

.plant-image:hover{
    cursor: pointer;
}
.plant-name {
    color: black;
    text-align: center;
    justify-self: center; /* Horizontal centering */
    align-self: center; /* Vertical centering */
    grid-area: name; /* Ensure it matches the grid template area */
    font-weight: bold;
    font-size: 35px; /* Adjust font size as needed */
}
.plant-name:hover{
    cursor: pointer;

}
/* Add more styles as needed */
