.single-plant-page{
    background-color: #f3eded;


}

.single-plant-card{

    margin: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 80px;
    grid-template-areas:
            'img img img desc'
            'img img img fact'
            'img img img .'
            'name name . .';
    border: 1.5px solid black;
    border-radius: 5px;
    /*padding: 10px;*/
    width: 850px;
    height: 500px;
    /*padding: 10px;*/



}

.single-plant-card:hover{
    cursor: pointer;

    /*box-shadow: 10px 10px 1px rgba(39, 100, 2, 0.53);*/
    box-shadow: 10px 10px 1px black;
}

.single-plant-image{
    width: 340px;
    height: 410px;
    color: black;
    grid-area: img;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    background-color: rgba(39, 100, 2, 0.53);
}

.single-plant-name{
    color: black;
    padding: 10px;
    text-align: center;
    justify-self: center; /* Horizontal centering */
    align-self: center; /* Vertical centering */
    grid-area: name; /* Ensure it matches the grid template area */
    font-weight: bold;
    font-size: 35px;
}

.plant-card-desc{
    padding-top: 10px;
   text-align: center;
    grid-area: desc;
}

.plant-card-fact{
    grid-area: fact;

   text-align: center;
}