.single-plant-page {
    background-color: #f3eded;
}

.single-plant-card{

    margin: 10px;

}

.single-plant-name {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin: 5px;

}


.single-plant-science {
    text-align: center;
    color: black;
    font-weight: normal;
    font-style: italic;
    margin: 5px;
}

.single-plant-image {
    width: 350px;
    height: 500px;;
    border: 1.5px solid black;
    border-radius: 8px;
    margin: 10px;
    background-color: rgba(39, 100, 2, 0.53);
}

.single-plant-desc {
    padding-left: 10px;
    margin: 5px;

}

.single-plant-fact {
    padding-left: 10px;
    margin: 5px;
}

.single-plant-button {
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 15px auto; /* Auto margins for centering */
    width: 190px;
    height: 40px;
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 8px;
}

.single-plant-button button {
    color: black; /* Adjust text color */
    font-size: 16px;
    border: none; /* Remove button border */
    background-color: transparent; /* Transparent background */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.single-plant-button button:hover {
    background-color: black; /* Darker background on hover */
    color: white; /* White text on hover */
}
