.single-plant-page {
    background-color: #f3eded;
}


/*}*/

/*.single-plant-card{*/
/*   background-color: white;*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr 1fr 80px 50px 10px 25px 25px;*/
/*    grid-template-areas:*/
/*            'img img img'*/
/*            'img img img'*/
/*            'img img img'*/
/*            'name name name'*/
/*            'desc desc desc'*/
/*            'fact fact fact'*/
/*            '. . .'*/
/*            'butn butn butn';*/
/*    border: 1.5px solid black;*/
/*    border-radius: 5px;*/
/*    margin: 20px;*/
/*    width: 350px;*/
/*    height: 520px;*/



/*}*/

/*.single-plant-card:hover{*/
/*    cursor: pointer;*/

/*    !*box-shadow: 10px 10px 1px rgba(39, 100, 2, 0.53);*!*/
/*    box-shadow: 10px 10px 1px black;*/
/*}*/

/*.single-plant-image{*/
/*    color: black;*/
/*    grid-area: img;*/
/*    border-bottom: 1.5px solid black;*/
/*    border-top-left-radius: 5px;*/
/*    border-top-right-radius: 5px;*/
/*    background-color: rgba(39, 100, 2, 0.53);*/
/*}*/

.single-plant-name{
   color: black;
    padding-left: 10px;
    font-weight: bold;
    font-size: 35px;
}

.single-plant-science{
    color: black;
    padding-left: 15px;
    font-weight: normal;
    font-style: italic;

}
/*.plant-card-text {*/



/*    padding: 10px;*/
/*}*/

/*.plant-card-desc {*/
/*    grid-area: desc;*/
/*    text-align: center;*/
/*}*/
/*.plant-card-fact{*/
/*    grid-area: fact;*/
/*    text-align: center;*/

/*}*/

/*.plant-card-button {*/
/*    grid-area: butn;*/
/*    display: flex;*/
/*    justify-content: center; !* Centers horizontally *!*/
/*    align-items: center; !* Centers vertically *!*/
/*    background-color: transparent; !* Green background *!*/
/*}*/

/*.plant-card-button button {*/

/*    color: white;*/
/*    border-top: 5px solid;*/
/*    padding: 10px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease; !* Smooth transition *!*/
/*}*/

/*.plant-card-button button:hover {*/
/*    background-color: #45a049; !* Darker green on hover *!*/
/*}*/