.soils-page {
    background-color: #f3eded;
}

.page-title {
    font-size: 60px;
    text-align: center;
}

.soil-cards {
    justify-content: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.soil-card {
     margin: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 80px;
    grid-template-areas:
            'img'
            'img'
            'img'
            'name';
    border: 1.5px solid black;
    border-radius: 5px;
    /*padding: 10px;*/
    width: 350px;
    height: 500px;
}

.soil-card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 1px black;
}

.soil-type {
    color: black;
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-area: name;
    font-weight: bold;
    font-size: 35px;


}

.soil-image {
    grid-area: img;
    border-bottom: 1.5px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(73, 24, 7, 0.8);
}

.soil-image:hover {
    cursor: pointer;
}
