{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Plantcare {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <link rel="icon" href="{% static 'images/flower.png' %}" type="image/png">
    {% block extra_css %}
    
    {% endblock %}
</head>
<body>

<header>
    <nav class="nav-bar">
        <ul class="links">
            <li><a href="{% url 'home' %}" class="link-home-nav">Home</a></li>
            <li><a href="{% url 'plants' %}" class="link-plants-nav">Plants</a></li>
            <li><a href="{% url 'soils' %}" class="link-soils-nav">Soils</a></li>
            
        </ul>
        <ul class="login-reg-links">
            <li><a href="{% url 'register' %}" class="link-reg-nav">Create Account</a></li>
            <li><a href="" class="link-login-nav">Login</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    
    {% endblock %}
</main>

<footer class="footer">
    <p>&copy; {% now "Y" %} Your Website. All rights reserved.</p>
    <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="{% url 'register' %}" class="link-reg-nav-footer">Create Account</a></li>
        <li><a href="" class="link-login-nav-footer">Login</a></li>
    </ul>
</footer>

<!-- Optional JavaScript -->

{% block extra_js %}
<!-- Placeholder for additional JavaScript files -->
{% endblock %}

</body>
</html>
