{% extends 'base.html' %}  <!-- Extend your base template -->
{% load static %}  <!-- Load the static template tag library -->

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ plant.name }} Details{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'single_plant.css' %}">
    </head>
    <!-- Define the content block -->
    <body class="single-plant-page">

    <p class="single-plant-name">{{ plant.name }}</p>
    <p class="single-plant-science">{{ plant.scientific_name }}</p>
    <p class="plant-card-desc">{{ plant.plant_description }}</p>
    <p class="plant-card-fact">{{ plant.fun_fact }}</p>
    <button class="plant-card-button">Add to Collection</button>

    </body>
    </html>
{% endblock %}
