{% extends 'base.html' %}
{% load static %}

{% block content %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Plants {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'plants_styles.css' %}">
    </head>
    <body class="plants-page">
        <h1 class="page-title">Plants</h1>
        <section class="plants-cards">
            {% for plant in plants %}
            <section class="plant-card">
                <a href="{% url 'plant_detail' id=plant.id %}" class="plant-image" style="text-decoration: none">
                    <img src="{{ plant.image_name }}"
                     class="plant-image-image"
                     alt="">
                </a>
                 <a href="{% url 'plant_detail' id=plant.id %}" class="plant-name" style="text-decoration: none">
                     <p class="plant-name">{{ plant.name }}</p>
                 </a>
            </section>
            {% endfor %}
        </section>
    </body>
</html>
{% endblock %}
