{% extends 'base.html' %}  <!-- Extend your base template -->
{% load static %}  <!-- Load the static template tag library -->

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{% block title %}{{ plant.name }} Details{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'single_plant.css' %}">
</head>
 <!-- Define the content block -->
<body class="single-plant-page">
<div class="single-plant-card">
    <img src="{{ plant.image_name }}"
                 class="single-plant-image"
                 alt="{{ plant.name }}">
    <h2 class="single-plant-name">{{ plant.name }}</h2>

</div>
</body>
</html>
{% endblock %}  <!-- End of content block -->
