{% extends 'base.html' %}
{% load static %}

{% block title %}{{ soil.type }} Details{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ soil.type }} Details</title>
</head>
<body class="single-soil-page">
    <section class="single-soil card">
        <h1>Soil Details</h1>
        <p class="single-soil-type"><strong>Type:</strong> {{ soil.type }}</p>
        <p class="single-soil-ph"><strong>pH Level:</strong> {{ soil.ph_level }}</p>
        <p class="single-soil-nut"><strong>Nutrients:</strong> {{ soil.nutrients }}</p>
        <p class="single-soil-desc"><strong>Description:</strong> {{ soil.description }}</p>
    </section>
   <ul>
        {% for plant in plants %}
            <li>{{ plant.name }}</li>
        {% empty %}
            <li>No plants found for this soil type.</li>
        {% endfor %}
    </ul>

    <!-- Debugging -->
    
</body>
</html>
{% endblock %}